/* [project]/app/globals.css (css, rsc) */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: #242424;
  color: white;
}
a {
  text-decoration: none;
  color: aliceblue;
}