/* [project]/app/Nav.module.css (css, css module, rsc) */
.Nav__Nav__22efe8e {
  display: flex;
  justify-content: space-evenly;
  background-color: blue;
}
.Nav__Nav__22efe8e a {
  text-decoration: none;
  color: black;
}