* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #242424;
    color: white;

    height: 100vh;
    display: flex;
    flex-direction: column;

    overflow: hidden;
}

a {
    text-decoration: none;
    color: aliceblue;
}

#navLogo,
#navLinks {
    flex-basis: calc(100%/3);
}

#navProfile,
#navLists {
    flex-grow: 1;
}

#navLogo {
    justify-content: flex-start;
}

#navLogo>a {
    font-size: 2rem;
}

#navLists {
    gap: 3rem;
}

#navLinks {
    gap: 6rem;
}

main {
    flex-grow: 1;
}

main>article {
    display: grid;
    height: 100%;

    grid-template-columns: 3fr 1fr 2fr;
    grid-template-rows: 2fr 1fr;
}

main>article>.article-section {
    height: 100%;
}

main>article>.art-desc,
main>article>.art-nav {
    border-left: 1px solid rgb(255, 255, 255, 0.1);
}

main>article>.art-title,
main>article>.art-nav {
    border-top: 1px solid rgb(255, 255, 255, 0.1);
}


.art-img {
    grid-column: 1 / span 2;
    overflow: hidden;
    height: 100%;
    max-width: 100%;

}

.art-img>img {
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
}

.art-nav {
    grid-column: 2 / span 2;
}

@keyframes slideout {
    0% { transform: translateY(-100px); }
  100% { transform: none; }
}

.slide-out {
    animation: slideout 0.5s;
}