/*!************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./app/Nav.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************/
.Nav_Nav__AtYIH {
    display: flex;
    justify-content: space-evenly;

    background-color: blue;

}

.Nav_Nav__AtYIH a {
    text-decoration: none;
    color: black;
}
