/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./app/people/PeopleIndex.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.PeopleIndex_peopleCard__2xqS6 {
    border: 2px solid white;
    height: auto;
    min-width: 400px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.PeopleIndex_name__fqh4c {
    color: pink;
}

.PeopleIndex_page__SRS3o {
    display: flex;
    flex-flow: row wrap;
}

/* h1 {
    color: aliceblue;
    text-align: center;
} */
